<div class="card">
  <div class="card-horizontal">
    <div class="img-square-wrapper">
      <img
        class=""
        src="http://localhost:3000/{{ singleMovie.image }}"
        alt="Card image cap"
      />
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ singleMovie.name }}</h4>

      <div>
        <span *ngFor="let category of singleMovie.category; let i = index">
          {{ category.name }}
          <ng-container *ngIf="i != singleMovie.category.length - 1"
            >,</ng-container
          >
        </span>
        <span>
          | {{ singleMovie.runTime }} <i class="fa-solid fa-clock"></i
        ></span>
      </div>

      <div>
        <span class="headers">Directors:</span>
        <span *ngFor="let director of singleMovie.directors; let i = index">
          {{ director.name }}
          <ng-container *ngIf="i != singleMovie.directors.length - 1"
            >,</ng-container
          >
        </span>
      </div>

      <div>
        <span class="headers">Actors:</span>
        <span *ngFor="let actor of singleMovie.actors; let i = index">
          {{ actor.name }}
          <ng-container *ngIf="i != singleMovie.actors.length - 1"
            >,</ng-container
          >
        </span>
      </div>
      <p class="card-text">{{ singleMovie.descreption }}</p>
      <div class="tickeStyle">
        <ng-container *ngFor="let Time of SchudleTime">
          <p>{{ Time.time }}</p>
        </ng-container>
      </div>
      <div class="tickeStyle">
        <ng-container *ngFor="let Time of SchudleTime">
          <p>{{ Time.price }}</p>
        </ng-container>
      </div>
      <div>
        <a routerLink="/bookTime/{{theaterID}}/{{movieID}}"><button class="btn btn-primary" > Buy <i class="fas fa-ticket-alt"></i></button></a>
        <a href="{{singleMovie.trailer}}" target="_blank"><button type="button" class="btn btn-secondary">Play <i class="fas fa-play"></i></button></a>
        
      </div>
    </div>
  </div>
</div>
